name: Keep Supabase Alive

on:
  schedule:
    # Runs every day at midnight
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Send Request to Supabase
        run: |
          curl -X POST "${{ secrets.SUPABASE_URL }}/rest/v1/rpc/echo" \
            -H "apikey: ${{ secrets.SUPABASE_ANON_KEY }}" \
            -H "Authorization: Bearer ${{ secrets.SUPABASE_ANON_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{"data": "ping"}'
